* {
    margin: 0;
    padding: 0;
}
@media (max-width: 320px){
    .galeria {
        flex-direction: column;
        align-items: center;
    }
    .galeria img {
        max-width: 320px;
        align-items: center;
    }

}

body {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
	color: #454546; 
    background-color: #f5e1c8;
    font-size: 16px;
	line-height: 0.5cm;
    padding-top: 60px;
}
.titulito {
	font-size: 1.5cm;
	margin: 5px 0;
	text-align: left;
	font-weight: 100;
    color: #8c8c8c;
    font-family: 'Roboto Condensed', sans-serif;
}
p {
	margin: 0 0 1.5em 0;
}
img {
	max-width: 100%;
	height: auto;
}
#elHeader {
	background: #454546;
	height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}	
#logoHeader {
    color: #e8c39e;
    float: left;
    padding: 15px 0 0 20px;
	text-decoration: none;
    font-family: 'Young Serif', serif;
}
#logoHeader:hover {
    color: #8c8c8c;
}
#logoHeader .nombre {
    display: block;
    font-weight: 500;
    font-size: 0.8cm;
}

#logoHeader .descripcion {
    display: block;
    font-weight: 200;
    font-size: 0.3cm;
    line-height: 2;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 60px;
}
			
nav ul li a {
    color: white;
	display: block;
	padding: 0 10px;
	text-decoration: none;
	}
			
nav ul li a:hover {
	background: #666666;
}

#contenido {
    background: white;
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
        
#contenido header,
    #contenido .content {
    padding: 40px;
}

#container {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 1cm;
}
#extra {
    background: #e8c39e;
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    text-align: left;
    font-size: 0.5cm;
	font-weight: 100;
    line-height: 0.8cm;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .carouselDeFotos {
     $carousel-control-color: $black;
     $carousel-control-width:             15%;
     $carousel-control-opacity:           .5;
     $carousel-control-hover-opacity:     .9;
     $carousel-control-transition:        opacity .15s ease;
  
     $carousel-indicator-width:           30px;
     $carousel-indicator-height:          3px;
     $carousel-indicator-hit-area-height: 10px;
     $carousel-indicator-spacer:          3px;
     $carousel-indicator-opacity:         .5;
     $carousel-indicator-active-bg:       $black;
     $carousel-indicator-active-opacity:  1;
     $carousel-indicator-transition:      opacity .6s ease;
  
     $carousel-caption-width:             70%;
     $carousel-caption-color:             $black;
     $carousel-caption-padding-y:         1.25rem;
     $carousel-caption-spacer:            1.25rem;
  
     $carousel-control-icon-width:        2rem;
   
     $carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
     $carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
  
     $carousel-transition-duration:       .6s;
     $carousel-transition:                transform $carousel-transition-duration ease-in-out;
  }
  #pie {
	background: #666666;
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}
	#pie p {
		margin: 0;
	}